.Promo {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
}

.Info {
    align-self: center;
}

.Title {
    font-size: 4rem;
}

.Genre {
    font-size: 2rem;
}